body{
    background-color:#EAE7DC !important;
}

ul{
    list-style:none;
    padding-left: inherit;
}

a {
    text-decoration: none;
    color: #D2906A !important;

}

.title{
    font-family: 'Modak', cursive;
    color: #D2906A;
    background-color:#EAE7DC !important;

}

.nav-bar{
    background-color: #EAE0CD;
}

.font{
    color: #D2906A;
    background-color: #EAE0CD;
}

.tool-name{
    font-size: 24px;
}
